.todo-app {
  font-family: sans-serif;
  background-image: linear-gradient(to bottom right, lightblue, purple);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-header {
  text-align: center;
  margin-top: auto;
}

/** add todo **/
.add-todo {
  margin-left: 0.5rem;
  margin-bottom: auto;
}

/** todo list **/
.todo-list {
  text-align: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/** todo item **/
.todo-item {
  border: 1px solid black;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  height: 100px;
  margin: 2px;
  border-radius: 25px;
}

.todo-content {
  opacity: 1;
  display: flex;
  justify-content: left center;
  align-items: center;
  flex: 1;
}

.todo-content-completed {
  transition: opacity 1s ease-in-out;
  opacity: 0.2;
}

.todo-item-text{
  font-size: 30px;
  width: calc(100% - 11 - 85 -100);
  text-align: center;
  word-wrap: break-word;
}

.todo-item-img-div{
  width: 100px;
  height: 100%;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  
}

.todo-item-img {
  width: 95%;
  height: 95%;
  margin-left: 2px;
}

.toggle-todo {
  border-left: 1px solid black;
  width: 85px;
}

#check {
  fill: none;
  stroke: green;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: draw 2s ease forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.remove-todo {
  width: 11px;
  position: relative;
}

.remove-todo-img {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.todo-item-img-in-modal {
  width: 50px;
}
  
.display-block {
  display: block;
}

.display-none {
  display: none;
}