.todo-app {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-header {
  text-align: center;
  margin-top: auto;
  background: linear-gradient(#87CEEB, #B9EBFF );
}

/** add todo **/
.add-todo {
  justify-content: center;
  display: flex;
  background: linear-gradient( #B9EBFF , #87CEEB);
  padding-bottom: 0.5rem;
}

.add-todo-btn {
  margin-left: 0.5rem;
}

/** todo list **/
.todo-list {
  text-align: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/** todo item **/
.todo-item {
  font-family: monospace;
  display: flex;
  flex-direction: row;
  height: 100px;
  margin: 2px;
  border-radius: 25px;
}

.todo-content {
  opacity: 1;
  display: flex;
  justify-content: left center;
  align-items: center;
  flex: 1;
}

.todo-content-completed {
  transition: opacity 1s ease-in-out;
  opacity: 0.2;
}

.todo-item-text{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  width: calc(100% - 11 - 85 -100);
  text-align: center;
  word-wrap: break-word;
}

.todo-item-img-div{
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.todo-item-img {
  width: 95%;
  height: 95%;
  margin-left: 2px;
}
.toggle-todo-svg {
  width: 120%;
  height: 100%;
}
.toggle-todo-checkbox {
  stroke: black;
  fill: none;
  width: 30px; 
  height: 30px;
}

.toggle-todo {
  width: 40px;
}

#check {
  fill: none;
  stroke: green;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: draw 2s ease forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.remove-todo {
  width: 15px;
  position: relative;
}

.remove-todo-img {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.todo-item-img-in-modal {
  width: 50px;
}


.todo-item-text-color-0 {
  color: red;
}

.todo-item-text-color-1 {
  color: orange;
}

.todo-item-text-color-2 {
  color: blueviolet;
}

.todo-item-text-color-3 {
  color: blue;
}

.todo-item-text-color-4 {
  color: green;
}
  
.display-block {
  display: block;
}

.display-none {
  display: none;
}